Sustituimos los valores Nan por la media para no perder registros.

In [1]:
import pandas as pd

In [2]:
X_train = pd.read_csv("./DatosAbandonoSinPond/X2_train.csv")
X_train.rename(columns={'Unnamed: 0':'id'}, inplace=True)
y_train = pd.read_csv("./DatosAbandonoSinPond/y2_train.csv")
y_train.rename(columns={'Unnamed: 0':'id'}, inplace=True)
train = pd.merge(X_train, y_train, on='id')
train = train.drop("id", axis=1)
print("train shape antes de borrar Nan: ", train.shape)
#train.dropna(how='any', inplace=True)
#print("train shape despues de borrar Nan: ", train.shape)
X_train = train.iloc[:,:-1]
y_train = train.iloc[:, -1:]



X_val = pd.read_csv("./DatosAbandonoSinPond/X2_val.csv")
X_val.rename(columns={'Unnamed: 0':'id'}, inplace=True)
y_val = pd.read_csv("./DatosAbandonoSinPond/y2_val.csv")
y_val.rename(columns={'Unnamed: 0':'id'}, inplace=True)
val = pd.merge(X_val, y_val, on='id')
val = val.drop("id", axis=1)
print("val shape antes de borrar Nan: ", val.shape)
#val.dropna(how='any', inplace=True)
#print("val shape despues de borrar Nan: ", val.shape)
X_val = val.iloc[:,:-1]
y_val = val.iloc[:, -1:]



X_test = pd.read_csv("./DatosAbandonoSinPond/X2_test.csv")
X_test.rename(columns={'Unnamed: 0':'id'}, inplace=True)
y_test = pd.read_csv("./DatosAbandonoSinPond/y2_test.csv")
y_test.rename(columns={'Unnamed: 0':'id'}, inplace=True)
test = pd.merge(X_test, y_test, on='id')
test = test.drop("id", axis=1)
print("test shape antes de borrar Nan: ", test.shape)
#test.dropna(how='any', inplace=True)
#print("test shape despues de borrar Nan: ", test.shape)
X_test = test.iloc[:,:-1]
y_test = test.iloc[:, -1:]

data = pd.concat([train, val, test])


# train.to_csv('./DatosAbandonoSinPondSinNan/train.csv', sep=',', decimal='.', index=False)
# X_train.to_csv('./DatosAbandonoSinPondSinNan/X_train.csv', sep=',', decimal='.', index=False)
# y_train.to_csv('./DatosAbandonoSinPondSinNan/y_train.csv', sep=',', decimal='.', index=False)

# val.to_csv('./DatosAbandonoSinPondSinNan/val.csv', sep=',', decimal='.', index=False)
# X_val.to_csv('./DatosAbandonoSinPondSinNan/X_val.csv', sep=',', decimal='.', index=False)
# y_val.to_csv('./DatosAbandonoSinPondSinNan/y_val.csv', sep=',', decimal='.', index=False)

# test.to_csv('./DatosAbandonoSinPondSinNan/test.csv', sep=',', decimal='.', index=False)
# X_test.to_csv('./DatosAbandonoSinPondSinNan/X_test.csv', sep=',', decimal='.', index=False)
# y_test.to_csv('./DatosAbandonoSinPondSinNan/y_test.csv', sep=',', decimal='.', index=False)

# data.to_csv('./DatosAbandonoSinPondSinNan/data.csv', sep=',', decimal='.', index=False)

train shape antes de borrar Nan:  (19953, 42)
val shape antes de borrar Nan:  (4989, 42)
test shape antes de borrar Nan:  (6236, 42)

In [3]:
print(f'El dataframe tiene un total de {len(data)} filas.')
len(data) - data.count() # vemos cuántos valores NaN hay por columna

El dataframe tiene un total de 31178 filas.

OCOD3              0
SENWT              1
CNTSCHID           0
BSMJ            5281
ST001D01T          0
GCSELFEFF       2565
PV8RTSN            1
PV10RCER           1
MASTGOAL        1882
PV4RCER            1
GCAWARE         2655
PV4RTML            1
PV10RTSN           1
PV4RCLI            1
PV1RCER            1
PV7RCUN            1
PV1RTML            1
PV3RCUN            1
PV5RTSN            1
PV6RTSN            1
PV8RTML            1
PV3RCER            1
PV9RCLI            1
PV8RCLI            1
PV9MATH            0
PV6RTML            1
PV9READ            0
PV8RCUN            1
PV3READ            0
PV3RTSN            1
PV2RTSN            1
PV1GLCM            0
PV7RCER            1
PV8RCER            1
PV9RTSN            1
PV10RTML           1
PV6RCER            1
PV5RCUN            1
PV10RCLI           1
PV7RTML            1
Score_pond         0
DROPOUT_RISK       0
dtype: int64

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31178 entries, 0 to 6235
Data columns (total 42 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   OCOD3         31178 non-null  int64
 1   SENWT         31177 non-null  float64
 2   CNTSCHID      31178 non-null  float64
 3   BSMJ          25897 non-null  float64
 4   ST001D01T     31178 non-null  float64
 5   GCSELFEFF     28613 non-null  float64
 6   PV8RTSN       31177 non-null  float64
 7   PV10RCER      31177 non-null  float64
 8   MASTGOAL      29296 non-null  float64
 9   PV4RCER       31177 non-null  float64
 10  GCAWARE       28523 non-null  float64
 11  PV4RTML       31177 non-null  float64
 12  PV10RTSN      31177 non-null  float64
 13  PV4RCLI       31177 non-null  float64
 14  PV1RCER       31177 non-null  float64
 15  PV7RCUN       31177 non-null  float64
 16  PV1RTML       31177 non-null  float64
 17  PV3RCUN       31177 non-null  float64
 18  PV5RTSN       31177 non-null  float64
 19  PV6RTSN       31177 non-null  float64
 20  PV8RTML       31177 non-null  float64
 21  PV3RCER       31177 non-null  float64
 22  PV9RCLI       31177 non-null  float64
 23  PV8RCLI       31177 non-null  float64
 24  PV9MATH       31178 non-null  float64
 25  PV6RTML       31177 non-null  float64
 26  PV9READ       31178 non-null  float64
 27  PV8RCUN       31177 non-null  float64
 28  PV3READ       31178 non-null  float64
 29  PV3RTSN       31177 non-null  float64
 30  PV2RTSN       31177 non-null  float64
 31  PV1GLCM       31178 non-null  float64
 32  PV7RCER       31177 non-null  float64
 33  PV8RCER       31177 non-null  float64
 34  PV9RTSN       31177 non-null  float64
 35  PV10RTML      31177 non-null  float64
 36  PV6RCER       31177 non-null  float64
 37  PV5RCUN       31177 non-null  float64
 38  PV10RCLI      31177 non-null  float64
 39  PV7RTML       31177 non-null  float64
 40  Score_pond    31178 non-null  float64
 41  DROPOUT_RISK  31178 non-null  int64
dtypes: float64(40), int64(2)
memory usage: 10.2 MB

In [5]:
data.isnull().any() # vemos qué columnas tienen valores NaN

OCOD3           False
SENWT            True
CNTSCHID        False
BSMJ             True
ST001D01T       False
GCSELFEFF        True
PV8RTSN          True
PV10RCER         True
MASTGOAL         True
PV4RCER          True
GCAWARE          True
PV4RTML          True
PV10RTSN         True
PV4RCLI          True
PV1RCER          True
PV7RCUN          True
PV1RTML          True
PV3RCUN          True
PV5RTSN          True
PV6RTSN          True
PV8RTML          True
PV3RCER          True
PV9RCLI          True
PV8RCLI          True
PV9MATH         False
PV6RTML          True
PV9READ         False
PV8RCUN          True
PV3READ         False
PV3RTSN          True
PV2RTSN          True
PV1GLCM         False
PV7RCER          True
PV8RCER          True
PV9RTSN          True
PV10RTML         True
PV6RCER          True
PV5RCUN          True
PV10RCLI         True
PV7RTML          True
Score_pond      False
DROPOUT_RISK    False
dtype: bool

In [6]:
data.head()

,OCOD3,SENWT,CNTSCHID,BSMJ,ST001D01T,GCSELFEFF,PV8RTSN,PV10RCER,MASTGOAL,PV4RCER,...,PV7RCER,PV8RCER,PV9RTSN,PV10RTML,PV6RCER,PV5RCUN,PV10RCLI,PV7RTML,Score_pond,DROPOUT_RISK
0,5312,0.12762,72400642.0,24.98,9.0,-0.3942,454.112,521.570,-1.7101,482.296,...,432.307,439.821,417.673,418.863,501.880,493.764,532.562,500.678,1359.035613,2
1,2341,0.11360,72400299.0,76.49,10.0,-0.9245,555.810,621.970,-0.0940,573.922,...,671.652,605.917,604.273,528.853,617.100,612.626,595.217,567.502,1531.717462,0
2,110,0.12794,72400127.0,60.92,8.0,-0.4038,610.075,513.757,1.8524,580.198,...,575.387,594.244,610.115,533.581,570.786,597.612,574.027,571.532,1401.820965,2
3,5411,0.03512,72400661.0,46.38,9.0,-0.4720,355.136,332.079,-0.4347,394.915,...,362.860,352.015,302.830,360.158,362.000,330.098,280.031,348.090,1086.888366,0
4,3411,0.42566,72400155.0,57.00,10.0,-0.1247,545.486,475.272,1.1969,662.077,...,526.312,605.057,503.340,525.220,485.852,613.356,519.077,555.490,1474.233579,0

In [7]:
data.shape

(31178, 42)

In [8]:
columnas = data.columns

In [9]:
# Numero de valores por categoría
# Se puede ver que el dataset está muy desbalanceado
data.DROPOUT_RISK.value_counts()

0    21535
2     6763
1     2880
Name: DROPOUT_RISK, dtype: int64

Vamos a balancear el dataset empleando una estrategia de subsampling en las clases que vas valores tienen.

Con ello esperamos conseguir la misma cantidad de valores por cada categoría.

[https://www.aprendemachinelearning.com/clasificacion-con-datos-desbalanceados/](https://www.aprendemachinelearning.com/clasificacion-con-datos-desbalanceados/)

[https://imbalanced-learn.org/dev/references/generated/imblearn.under_sampling.NearMiss.html](https://imbalanced-learn.org/dev/references/generated/imblearn.under_sampling.NearMiss.html)

In [10]:
from sklearn.impute import SimpleImputer
si = SimpleImputer()

In [11]:
si.fit(data)

SimpleImputer()

In [12]:
si.statistics_

array([ 4.09670146e+03,  1.38661003e-01,  7.24005514e+07,  6.82914836e+01,
        9.69388671e+00, -9.36352008e-03,  4.82711543e+02,  4.91243075e+02,
       -1.03304769e-01,  4.93212193e+02,  4.30226203e-02,  4.91001614e+02,
        4.83471599e+02,  4.83424890e+02,  4.91177235e+02,  4.86099840e+02,
        4.90609376e+02,  4.86531952e+02,  4.83507224e+02,  4.83786869e+02,
        4.93024011e+02,  4.94363844e+02,  4.84807517e+02,  4.87499172e+02,
        4.89872155e+02,  4.91186517e+02,  4.83829578e+02,  4.85990795e+02,
        4.83568338e+02,  4.82549367e+02,  4.83502894e+02,  5.21739756e+02,
        4.91953059e+02,  4.91257051e+02,  4.82714563e+02,  4.91810890e+02,
        4.93151424e+02,  4.85239689e+02,  4.86219462e+02,  4.92112809e+02,
        1.35544659e+03,  5.26204375e-01])

In [13]:
datos = si.fit_transform(data)

In [14]:
data = pd.DataFrame(datos, columns=columnas)

In [15]:
data.DROPOUT_RISK.value_counts()

0.0    21535
2.0     6763
1.0     2880
Name: DROPOUT_RISK, dtype: int64

In [16]:
data.isnull().any() # vemos qué columnas tienen valores NaN

OCOD3           False
SENWT           False
CNTSCHID        False
BSMJ            False
ST001D01T       False
GCSELFEFF       False
PV8RTSN         False
PV10RCER        False
MASTGOAL        False
PV4RCER         False
GCAWARE         False
PV4RTML         False
PV10RTSN        False
PV4RCLI         False
PV1RCER         False
PV7RCUN         False
PV1RTML         False
PV3RCUN         False
PV5RTSN         False
PV6RTSN         False
PV8RTML         False
PV3RCER         False
PV9RCLI         False
PV8RCLI         False
PV9MATH         False
PV6RTML         False
PV9READ         False
PV8RCUN         False
PV3READ         False
PV3RTSN         False
PV2RTSN         False
PV1GLCM         False
PV7RCER         False
PV8RCER         False
PV9RTSN         False
PV10RTML        False
PV6RCER         False
PV5RCUN         False
PV10RCLI        False
PV7RTML         False
Score_pond      False
DROPOUT_RISK    False
dtype: bool

In [17]:
print(f'El dataframe tiene un total de {len(data)} filas.')
len(data) - data.count() # vemos cuántos valores NaN hay por columna

El dataframe tiene un total de 31178 filas.

OCOD3           0
SENWT           0
CNTSCHID        0
BSMJ            0
ST001D01T       0
GCSELFEFF       0
PV8RTSN         0
PV10RCER        0
MASTGOAL        0
PV4RCER         0
GCAWARE         0
PV4RTML         0
PV10RTSN        0
PV4RCLI         0
PV1RCER         0
PV7RCUN         0
PV1RTML         0
PV3RCUN         0
PV5RTSN         0
PV6RTSN         0
PV8RTML         0
PV3RCER         0
PV9RCLI         0
PV8RCLI         0
PV9MATH         0
PV6RTML         0
PV9READ         0
PV8RCUN         0
PV3READ         0
PV3RTSN         0
PV2RTSN         0
PV1GLCM         0
PV7RCER         0
PV8RCER         0
PV9RTSN         0
PV10RTML        0
PV6RCER         0
PV5RCUN         0
PV10RCLI        0
PV7RTML         0
Score_pond      0
DROPOUT_RISK    0
dtype: int64

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
y = data.iloc[:,-1:]
X = data.iloc[:,:-1]

In [20]:
# Otra forma de dividir los datos en X e y
# y = data['DROPOUT_RISK']
# X = data.drop('DROPOUT_RISK', axis=1)

In [21]:
y.head()

   DROPOUT_RISK
0           2.0
1           0.0
2           2.0
3           0.0
4           0.0

In [22]:
X.head()

,OCOD3,SENWT,CNTSCHID,BSMJ,ST001D01T,GCSELFEFF,PV8RTSN,PV10RCER,MASTGOAL,PV4RCER,...,PV1GLCM,PV7RCER,PV8RCER,PV9RTSN,PV10RTML,PV6RCER,PV5RCUN,PV10RCLI,PV7RTML,Score_pond
0,5312.0,0.12762,72400642.0,24.98,9.0,-0.3942,454.112,521.570,-1.7101,482.296,...,515.221,432.307,439.821,417.673,418.863,501.880,493.764,532.562,500.678,1359.035613
1,2341.0,0.11360,72400299.0,76.49,10.0,-0.9245,555.810,621.970,-0.0940,573.922,...,581.228,671.652,605.917,604.273,528.853,617.100,612.626,595.217,567.502,1531.717462
2,110.0,0.12794,72400127.0,60.92,8.0,-0.4038,610.075,513.757,1.8524,580.198,...,562.724,575.387,594.244,610.115,533.581,570.786,597.612,574.027,571.532,1401.820965
3,5411.0,0.03512,72400661.0,46.38,9.0,-0.4720,355.136,332.079,-0.4347,394.915,...,366.160,362.860,352.015,302.830,360.158,362.000,330.098,280.031,348.090,1086.888366
4,3411.0,0.42566,72400155.0,57.00,10.0,-0.1247,545.486,475.272,1.1969,662.077,...,616.622,526.312,605.057,503.340,525.220,485.852,613.356,519.077,555.490,1474.233579

In [23]:
# Dividimos en train y test, pero estos datos están desbalanceados

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8)

In [24]:
y_train.DROPOUT_RISK.value_counts()

0.0    17238
2.0     5413
1.0     2291
Name: DROPOUT_RISK, dtype: int64

In [25]:
X_train.to_csv('./DatosAbandonoSinPondSinNan/X_train.csv', sep=',', decimal='.', index=False)
y_train.to_csv('./DatosAbandonoSinPondSinNan/y_train.csv', sep=',', decimal='.', index=False)

In [26]:
X_test.to_csv('./DatosAbandonoSinPondSinNan/X_test.csv', sep=',', decimal='.', index=False)
y_test.to_csv('./DatosAbandonoSinPondSinNan/y_test.csv', sep=',', decimal='.', index=False)

### Subsampling

In [27]:
from collections import Counter
from imblearn.under_sampling import NearMiss

In [28]:
# Hacemos un subsampling para que los datos no esten tan desbalanceados


#us = NearMiss(version=3, sampling_strategy='auto', n_neighbors=3)
us = NearMiss(version=1, sampling_strategy={0:4985, 1:2183, 2:4985}, n_neighbors=3)
#us = NearMiss(version=3, sampling_strategy='majority', n_neighbors=3)
#us = NearMiss(version=3, sampling_strategy='all', n_neighbors=3)

X_train_res, y_train_res = us.fit_resample(X_train, y_train)

In [29]:
y_train_res.DROPOUT_RISK.value_counts()

0.0    4985
2.0    4985
1.0    2183
Name: DROPOUT_RISK, dtype: int64

In [30]:
X_train_res.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12153 entries, 0 to 12152
Data columns (total 41 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OCOD3       12153 non-null  float64
 1   SENWT       12153 non-null  float64
 2   CNTSCHID    12153 non-null  float64
 3   BSMJ        12153 non-null  float64
 4   ST001D01T   12153 non-null  float64
 5   GCSELFEFF   12153 non-null  float64
 6   PV8RTSN     12153 non-null  float64
 7   PV10RCER    12153 non-null  float64
 8   MASTGOAL    12153 non-null  float64
 9   PV4RCER     12153 non-null  float64
 10  GCAWARE     12153 non-null  float64
 11  PV4RTML     12153 non-null  float64
 12  PV10RTSN    12153 non-null  float64
 13  PV4RCLI     12153 non-null  float64
 14  PV1RCER     12153 non-null  float64
 15  PV7RCUN     12153 non-null  float64
 16  PV1RTML     12153 non-null  float64
 17  PV3RCUN     12153 non-null  float64
 18  PV5RTSN     12153 non-null  float64
 19  PV6RTSN     12153 non-null  float64
 20  PV8RTML     12153 non-null  float64
 21  PV3RCER     12153 non-null  float64
 22  PV9RCLI     12153 non-null  float64
 23  PV8RCLI     12153 non-null  float64
 24  PV9MATH     12153 non-null  float64
 25  PV6RTML     12153 non-null  float64
 26  PV9READ     12153 non-null  float64
 27  PV8RCUN     12153 non-null  float64
 28  PV3READ     12153 non-null  float64
 29  PV3RTSN     12153 non-null  float64
 30  PV2RTSN     12153 non-null  float64
 31  PV1GLCM     12153 non-null  float64
 32  PV7RCER     12153 non-null  float64
 33  PV8RCER     12153 non-null  float64
 34  PV9RTSN     12153 non-null  float64
 35  PV10RTML    12153 non-null  float64
 36  PV6RCER     12153 non-null  float64
 37  PV5RCUN     12153 non-null  float64
 38  PV10RCLI    12153 non-null  float64
 39  PV7RTML     12153 non-null  float64
 40  Score_pond  12153 non-null  float64
dtypes: float64(41)
memory usage: 3.8 MB

In [31]:
X_train_res.to_csv('./DatosAbandonoSinPondSinNanSub/X_train.csv', sep=',', decimal='.', index=False)
y_train_res.to_csv('./DatosAbandonoSinPondSinNanSub/y_train.csv', sep=',', decimal='.', index=False)

In [32]:
X_test.to_csv('./DatosAbandonoSinPondSinNanSub/X_test.csv', sep=',', decimal='.', index=False)
y_test.to_csv('./DatosAbandonoSinPondSinNanSub/y_test.csv', sep=',', decimal='.', index=False)

### Oversampling

In [33]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.decomposition import PCA
from sklearn.tree import DecisionTreeClassifier

from pylab import rcParams

from imblearn.under_sampling import NearMiss
from imblearn.over_sampling import RandomOverSampler
from imblearn.combine import SMOTETomek
from imblearn.ensemble import BalancedBaggingClassifier

from collections import Counter

In [35]:
os = RandomOverSampler(sampling_strategy = {0:17238, 1:10000, 2:10000})
X_train_res, y_train_res = os.fit_resample(X_train, y_train)

In [36]:
y_train.value_counts()

DROPOUT_RISK
0.0             17238
2.0              5413
1.0              2291
dtype: int64

In [37]:
y_train_res.value_counts()

DROPOUT_RISK
0.0             17238
1.0             10000
2.0             10000
dtype: int64

In [38]:
y_train_res.head()

   DROPOUT_RISK
0           2.0
1           2.0
2           1.0
3           2.0
4           0.0

In [39]:
X_train.head()

,OCOD3,SENWT,CNTSCHID,BSMJ,ST001D01T,GCSELFEFF,PV8RTSN,PV10RCER,MASTGOAL,PV4RCER,...,PV1GLCM,PV7RCER,PV8RCER,PV9RTSN,PV10RTML,PV6RCER,PV5RCUN,PV10RCLI,PV7RTML,Score_pond
27546,9704.0,0.22135,72400001.0,68.291484,10.0,-0.2447,630.018,563.911,-1.3162,585.672,...,650.121,626.822,612.088,567.222,542.862,604.143,610.645,555.997,596.819,1825.504089
23420,9704.0,0.02821,72400772.0,68.291484,9.0,0.7173,292.726,244.179,0.3468,273.501,...,375.256,284.002,284.713,308.101,364.427,283.059,307.352,335.687,298.657,1116.943192
12181,6210.0,0.01681,72400964.0,19.780000,9.0,-1.5292,408.578,414.452,-0.4684,397.424,...,512.991,289.567,394.824,346.243,346.325,435.747,439.742,388.817,356.320,1189.640133
6771,2330.0,0.03980,72400503.0,82.410000,9.0,-0.2475,423.692,466.594,-0.8444,484.591,...,431.284,421.795,436.940,389.728,457.556,443.014,410.190,367.940,411.830,1133.741618
2511,1120.0,0.09614,72400724.0,70.340000,10.0,0.1904,431.313,488.997,1.8524,445.010,...,569.807,384.169,399.914,485.762,522.553,457.890,478.368,528.376,496.799,1192.402257

In [40]:
X_train_res.head()

,OCOD3,SENWT,CNTSCHID,BSMJ,ST001D01T,GCSELFEFF,PV8RTSN,PV10RCER,MASTGOAL,PV4RCER,...,PV1GLCM,PV7RCER,PV8RCER,PV9RTSN,PV10RTML,PV6RCER,PV5RCUN,PV10RCLI,PV7RTML,Score_pond
0,9704.0,0.22135,72400001.0,68.291484,10.0,-0.2447,630.018,563.911,-1.3162,585.672,...,650.121,626.822,612.088,567.222,542.862,604.143,610.645,555.997,596.819,1825.504089
1,9704.0,0.02821,72400772.0,68.291484,9.0,0.7173,292.726,244.179,0.3468,273.501,...,375.256,284.002,284.713,308.101,364.427,283.059,307.352,335.687,298.657,1116.943192
2,6210.0,0.01681,72400964.0,19.780000,9.0,-1.5292,408.578,414.452,-0.4684,397.424,...,512.991,289.567,394.824,346.243,346.325,435.747,439.742,388.817,356.320,1189.640133
3,2330.0,0.03980,72400503.0,82.410000,9.0,-0.2475,423.692,466.594,-0.8444,484.591,...,431.284,421.795,436.940,389.728,457.556,443.014,410.190,367.940,411.830,1133.741618
4,1120.0,0.09614,72400724.0,70.340000,10.0,0.1904,431.313,488.997,1.8524,445.010,...,569.807,384.169,399.914,485.762,522.553,457.890,478.368,528.376,496.799,1192.402257

In [41]:
X_train_res.to_csv('./DatosAbandonoSinPondSinNanOver/X_train.csv', sep=',', decimal='.', index=False)
y_train_res.to_csv('./DatosAbandonoSinPondSinNanOver/y_train.csv', sep=',', decimal='.', index=False)

In [42]:
X_test.to_csv('./DatosAbandonoSinPondSinNanOver/X_test.csv', sep=',', decimal='.', index=False)
y_test.to_csv('./DatosAbandonoSinPondSinNanOver/y_test.csv', sep=',', decimal='.', index=False)

### Otras técnicas para desbalancear

In [43]:
import pandas as pd
from collections import Counter
from sklearn.datasets import make_classification
from imblearn.over_sampling import RandomOverSampler


X_train, y_train = make_classification(n_classes=3, class_sep=3,
weights=[0.1, 0.5, 0.9], n_informative=3, n_redundant=1, flip_y=0,
n_features=42, n_clusters_per_class=1, n_samples=10000, random_state=10)
print('Original dataset shape %s' % Counter(y_train))

ros = RandomOverSampler(sampling_strategy='all', random_state=42)
X_res, y_res = ros.fit_resample(X_train, y_train)
print('Resampled dataset shape %s' % Counter(y_res))

Original dataset shape Counter({1: 5000, 2: 4000, 0: 1000})
Resampled dataset shape Counter({2: 5000, 1: 5000, 0: 5000})

In [44]:
data_y = pd.DataFrame(y_res, columns=['DROPOUT_RISK'])

In [45]:
data_y.head()

   DROPOUT_RISK
0             2
1             1
2             0
3             1
4             1

In [46]:
data_y.value_counts()

DROPOUT_RISK
0               5000
1               5000
2               5000
dtype: int64

In [47]:
data_y

       DROPOUT_RISK
0                 2
1                 1
2                 0
3                 1
4                 1
...             ...
14995             2
14996             2
14997             2
14998             2
14999             2

[15000 rows x 1 columns]

In [48]:
columnas = X_test.columns
data_X = pd.DataFrame(X_res)

In [49]:
X_test

,OCOD3,SENWT,CNTSCHID,BSMJ,ST001D01T,GCSELFEFF,PV8RTSN,PV10RCER,MASTGOAL,PV4RCER,...,PV1GLCM,PV7RCER,PV8RCER,PV9RTSN,PV10RTML,PV6RCER,PV5RCUN,PV10RCLI,PV7RTML,Score_pond
3479,2421.0,0.02978,72401019.0,70.090000,10.0,-0.706300,493.025,496.213,-1.0266,398.428,...,510.307,439.223,396.292,484.016,419.023,433.348,378.999,395.318,406.737,1166.227263
854,2600.0,0.07035,72400743.0,75.670000,9.0,-0.009364,306.849,334.577,-1.7101,354.555,...,405.060,342.289,303.596,273.998,356.340,302.456,347.593,311.494,325.276,908.360784
7818,5414.0,0.12649,72400672.0,23.800000,10.0,-0.832700,445.580,465.107,-0.5589,506.234,...,590.966,470.538,374.940,481.070,472.579,499.038,460.568,398.788,473.231,1361.708843
22266,2612.0,0.09019,72400813.0,88.960000,10.0,0.277400,506.356,608.143,1.8524,606.294,...,654.781,574.268,597.578,635.151,636.511,561.818,622.449,599.985,611.195,1560.888748
24973,9998.0,0.03825,72400621.0,68.291484,8.0,0.351100,500.511,440.928,-0.8444,482.218,...,496.703,485.835,472.827,423.386,466.425,471.992,494.042,433.195,435.874,1538.605858
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14234,2330.0,0.12230,72400067.0,82.410000,10.0,-1.484400,457.620,536.569,-0.3507,490.157,...,483.957,420.815,483.007,456.772,510.348,506.168,420.328,509.946,515.298,1251.037591
24633,9704.0,0.03265,72400577.0,68.291484,9.0,-0.701700,436.457,476.591,-2.0701,475.614,...,409.866,486.289,414.265,384.299,439.369,469.347,427.750,387.804,392.624,1449.474175
29672,9999.0,0.27455,72400515.0,68.291484,9.0,-0.984400,592.614,505.608,-0.0940,587.356,...,638.898,594.937,591.435,534.169,613.626,555.633,572.216,552.323,595.187,1805.146189
12896,2350.0,0.04089,72400183.0,68.880000,10.0,-0.321700,423.567,369.714,-1.3162,377.034,...,425.885,377.615,429.637,352.205,408.860,406.084,383.311,383.868,417.903,1071.986164
12953,2643.0,0.41468,72400011.0,80.920000,10.0,-0.804700,535.418,489.080,0.6760,574.544,...,603.818,511.857,487.939,517.052,596.721,507.536,545.195,580.889,517.568,1404.294359

In [50]:
data_X

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,1.861451,0.164455,-1.115226,-0.106303,-0.467513,-0.864058,0.395864,-1.666263,-0.512740,0.255098,...,0.278043,-0.478154,0.360097,1.886182,0.519569,3.459193,0.656822,1.914220,1.182104,2.883568
1,-0.140174,-0.167212,0.979213,0.483949,0.278364,0.040775,1.074080,0.441515,0.414833,-0.438480,...,1.026039,-0.329233,-0.063350,-0.873398,-1.127336,-2.659711,-2.020086,-1.980739,1.643605,2.396227
2,0.469334,-0.215199,1.040811,0.299829,0.418306,-1.154909,1.062343,1.492330,0.384719,-0.634234,...,-1.831264,0.154441,2.015920,-0.830124,-0.165194,-3.765148,0.482527,-1.388259,0.392022,2.338630
3,-0.652479,-0.248808,-0.816218,-0.409416,1.096911,1.041269,-0.536981,-1.078981,-0.645355,1.305010,...,-1.319146,-1.103100,0.472935,-0.035440,0.023448,-3.554350,0.643581,-0.985140,-0.671028,3.821691
4,0.547879,1.114312,-1.382798,0.414379,0.841419,-1.539673,-0.001475,-0.207624,-0.415006,0.692717,...,0.007503,2.380341,0.337388,2.099067,0.759131,-2.771888,-0.363343,-1.059511,1.373842,2.704285
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,1.375367,0.616350,-1.101337,-0.395689,0.583203,-0.820263,-2.325246,-0.473422,0.576989,-1.627553,...,-0.371596,0.848150,-0.013063,0.570747,-0.416437,4.922840,-1.330617,0.728564,-0.274939,1.515916
14996,0.044584,0.132568,-1.104228,-0.522601,-0.479051,-2.023491,0.214002,0.209174,-2.033328,-1.284669,...,1.274858,-1.029143,-1.104269,1.767262,0.983811,2.786321,-0.005404,-0.091213,0.549819,2.668699
14997,1.111679,-1.427211,-1.423465,1.230263,-1.894326,0.464542,-1.725889,-0.074877,0.232497,-0.407898,...,-0.483774,0.459618,0.076266,0.305891,0.121049,5.291151,-1.018731,-0.447499,1.202083,1.129062
14998,-0.825654,0.994066,0.255315,0.478240,-0.396063,0.571000,-0.455393,1.412238,1.611486,1.309738,...,1.042865,-0.076716,-1.247721,-0.204858,1.023425,4.411923,1.818917,-2.384013,-0.535730,2.543995
14999,0.773012,-1.045708,0.094528,2.498117,0.355144,-0.003501,-0.797561,-1.064691,0.742011,1.072929,...,0.001254,0.564909,1.825960,-0.350735,-1.117324,2.289099,-0.902067,0.560518,1.741098,3.337320

In [51]:
data_X.to_csv('./DatosAbandonoSinPondSinNanOtros/X_train.csv', sep=',', decimal='.', index=False)
data_y.to_csv('./DatosAbandonoSinPondSinNanOtros/y_train.csv', sep=',', decimal='.', index=False)

In [52]:
X_test.to_csv('./DatosAbandonoSinPondSinNanOtros/X_test.csv', sep=',', decimal='.', index=False)
y_test.to_csv('./DatosAbandonoSinPondSinNanOtros/y_test.csv', sep=',', decimal='.', index=False)

In [53]:
data_X.columns

RangeIndex(start=0, stop=42, step=1)

In [54]:
X_test.columns

Index(['OCOD3', 'SENWT', 'CNTSCHID', 'BSMJ', 'ST001D01T', 'GCSELFEFF',
       'PV8RTSN', 'PV10RCER', 'MASTGOAL', 'PV4RCER', 'GCAWARE', 'PV4RTML',
       'PV10RTSN', 'PV4RCLI', 'PV1RCER', 'PV7RCUN', 'PV1RTML', 'PV3RCUN',
       'PV5RTSN', 'PV6RTSN', 'PV8RTML', 'PV3RCER', 'PV9RCLI', 'PV8RCLI',
       'PV9MATH', 'PV6RTML', 'PV9READ', 'PV8RCUN', 'PV3READ', 'PV3RTSN',
       'PV2RTSN', 'PV1GLCM', 'PV7RCER', 'PV8RCER', 'PV9RTSN', 'PV10RTML',
       'PV6RCER', 'PV5RCUN', 'PV10RCLI', 'PV7RTML', 'Score_pond'],
      dtype='object')